extends layout

block styles
  link(rel='stylesheet', href='https://rawgit.com/enyo/dropzone/master/dist/dropzone.css')
  link(rel='stylesheet', href='/stylesheets/medications.css')

block content

  form#my-awesome-dropzone.dropzone(action='/api/upload')

  .medication-view
    .week-view.ui.fluid
      button.circular.ui.icon.button.inverted.red
        p M

      button.circular.ui.icon.button.inverted.red
        p Tu

      button.circular.ui.icon.button.inverted.red
        p W

      button.circular.ui.icon.button.inverted.red
        p Th

      button.circular.ui.icon.button.inverted.red
        p F

      button.circular.ui.icon.button.inverted.red
        p Sa

      button.circular.ui.icon.button.inverted.red
        p Su

block scripts
  script(src='https://rawgit.com/enyo/dropzone/master/dist/dropzone.js')
