.circular {
  width: 3em;
}

.circular p {
  /*font-size: 10px;*/
}

body {
  padding: 0;
}

.week-view {
  display: flex;
  justify-content: space-around;
}

.medication-view {
  position: fixed;
  bottom: 0%;
  width: 100%;
  margin-bottom: 5px;
  height: 40px;
}

.dropzone.dz-clickable {
  background-color: #eee;
  border-radius: 10px;
  margin: 10px;
}
